<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>超开心！记一次木庄网络博客被攻击-木庄网络博客</title>
    <meta name="keywords" content="恶意攻击,恶意评论,木庄博客">
    <meta name="description" content="2016年11月21号晚上23点06分，文章《用DTcms做一个独立博客网站（响应式模板）》评论被恶意攻击。只记得当时被刷了上百条恶意评论，由于有项目要赶，没细看就直接删除处理。今日细看一下，发现应该是跨站脚本攻击（只是猜测，有高手指点迷津吗？），上图：以木庄博客目前的编程…">
    <meta http-equiv="windows-Target " content="_top ">
<link rel="stylesheet" type="text/css" href="/static/webapps/css/bootstrap.min.css">
{#<link rel="stylesheet" type="text/css" href="http:///templates/blog/css/nprogress.css">#}
<link rel="stylesheet" type="text/css" href="/static/webapps/css/style.css">
{#<link rel="stylesheet" type="text/css" href="http:///templates/blog/css/font-awesome.min.css">#}




<link rel="shortcut icon" href="/static/webapps/images/logo.ico">
{#    <link rel="stylesheet" type="text/css" href="http:///templates/blog/css/shang.css">#}
{#    <script src="http:///templates/blog/js/comm.js"></script>#}

</head>