    <div class="fixmenu" id="fixmenu" otop="100">
{#	<a href="http://127.0.0.1/" class="ilogo"></a>#}
	<p class="imenu">
	<a href="http://127.0.0.1/list/ribao/" title="猎奇日报" id="c125">游戏</a>
        <a href="http://127.0.0.1/list/bagua/" title="八卦" id="c126">动漫</a>
        <a href="http://127.0.0.1/list/lingyi/" title="灵异" id="c128">China joy</a>
{#        <a href="http://127.0.0.1/list/tansuo/" title="探索" id="c129">探索</a>#}
{#        <a href="http://127.0.0.1/list/lishi/" title="历史" id="c127">历史</a>#}
{#        <a href="http://127.0.0.1/list/ziran/" title="自然" id="c133">自然</a>#}
{#        <a href="http://127.0.0.1/list/tushuo/" title="图说" id="c132">图说</a>#}
{#        <a href="http://127.0.0.1/list/shipin/" title="视频" id="c130">视频</a>#}
{#        <a href="http://127.0.0.1/list/dongtu/" title="有意思" id="c131">有意思</a>#}
	</p>

</div>