	<ul class="pic300">
		<li><a href="http://127.0.0.1/read/4/10029/" target="_blank"><i>
            <img src="/static/webapps/js/10029.jpg" alt="悍将“李云龙”离婚惊动毛泽东"></i>
            <h5>悍将“李云龙”离婚惊动毛泽东</h5></a></li>
        <li><a href="http://127.0.0.1/read/7/19312/" target="_blank"><i>
            <img src="/static/webapps/js/19312.jpg" alt="从月球摧毁战机 只有解放军这款杀器可以做得到"></i>
            <h5>从月球摧毁战机 只有解放军这款杀器可以做得到</h5></a></li>
        <li><a href="http://127.0.0.1/read/3/7635/" target="_blank"><i>
            <img src="/static/webapps/js/7635.jpg" alt="奇幻缤纷的圣彼得堡喋血大教堂"></i>
            <h5>奇幻缤纷的圣彼得堡喋血大教堂</h5></a></li>
        <li><a href="http://127.0.0.1/read/2/4078/" target="_blank"><i>
            <img src="/static/webapps/js/1a5fff8833c822f8a88d1d87ca28a376.jpg" alt="帝国崛起：秦人如何从部落走向帝国"></i>
            <h5>帝国崛起：秦人如何从部落走向帝国</h5></a></li>
        <li><a href="http://127.0.0.1/read/6/15028/" target="_blank"><i>
            <img src="/static/webapps/js/15028.jpg" alt="树根旁挖出八斤“灵芝” 专家鉴定实为树舌"></i>
            <h5>树根旁挖出八斤“灵芝” 专家鉴定实为树舌</h5></a></li>
        <li><a href="http://127.0.0.1/read/2/3735/" target="_blank"><i>
            <img src="/static/webapps/js/451efadb6b9292e67f44cd687fada7b0.jpg" alt="探寻神秘消失在历史中的古文明(图)"></i>
            <h5>探寻神秘消失在历史中的古文明(图)</h5></a></li>
        <li><a href="http://127.0.0.1/read/4/11306/" target="_blank"><i>
            <img src="/static/webapps/js/11306.jpg" alt="黄山雨后出现罕见佛光奇观瞬息万变"></i>
            <h5>黄山雨后出现罕见佛光奇观瞬息万变</h5></a></li>
        <li><a href="http://127.0.0.1/read/46/135322/" target="_blank"><i>
            <img src="/static/webapps/js/135322.jpg" alt="苏州：厉害了Word哥！航拍城管搬419个盆栽防占道经营"></i>
            <h5>苏州：厉害了Word哥！航拍城管搬419个盆栽防占道经营</h5></a></li>
	</ul>