<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>开饭啦查询首页</title>
<link rel="stylesheet" href="http://files.cnblogs.com/files/lioaric/nuomi_common.css"/>
<link rel="shutcut icon" href="/static/images/bitbug_favicon.ico" />
<style>
#wimoban_p,#wimoban_p a{
	color: #000;
	font-family: "微软雅黑";
}
#wimoban_p{
	text-align: center;
	font-size: 12px;
	clear: both;
}
</style>
</head>	
<body oncontextmenu='return false' ondragstart='return false'>
<!--[if lt IE 9]>
      <p class="browsehappy">你正在使用<strong style="color: brown">过时的</strong>浏览器. 请升级你的浏览器，我们推荐 <a href="http://w.x.baidu.com/alading/anquan_soft_down_ub/14744" style="color: firebrick">chrome</a> 来提高更好的体验</p>
    <![endif]-->

<div id="wrapper">
	<div class="skinBg" ></div>
	<header id="header">
		
	  <nav class="headNavs fr tr">
			<a href="http://www.irole.cn/"><span class="s-icon s-icon-treasure"></span><span>美女cosplay</span></a>
			<a href="#"><span class="s-icon s-icon-skin"></span><span>开饭啦</span></a>
			<a href="http://www.baixihe.com/about-irole/"><span class="s-icon s-icon-msg"></span><span>关于</span></a>

	  </nav>
	</header>
    	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	<div class="content tc">
		<p class="logo"><img width="270" height="129" src="/static/images/logo_white.png" alt="logo" /></p>
		<nav class="mainNavs">
			<a href="#">美食</a>
			<a href="#">美图</a>

	  </nav>
		<div class="searchBox">
			<form action="details/">
				<input type="text" class="searchIpt f14" name="wd" maxlength="100" autocomplete="off"/>
				<input type="submit" class="btn cp" value="solo一下" />
			</form>
		</div>
	</div>
	<footer id="footer" class="tc">
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>©2014 irole.cn 使用必读</p>
	</footer>
</div>

<div id="wimoban_p">
    <p>＊尊重他人劳动成果，转载请自觉注明出处！注：此代码仅供学习交流</p>
    <p></p>
</div>
</body>
</html>